.comment-container {
}

.new-comment {
    color: #5d5d5d;
    font-weight: 100;
}

.comment-cluster {
    margin-top: 40px;
    margin-bottom: 45px;
}

.comment {
font-size: 14px;
    padding-top: 9px;
}

.comment-date {
    display: inline;
    color: #5d5d5d;
    font-weight: 100;
    font-weight: smaller;
}

.comment-creator {
    font-size: 14px;
    font-weight: 900;
}

.user-button-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    margin-right: 15px;
    text-transform: capitalize;
}
.new-comment-cluster {
    margin-top: 25px;
    margin-bottom: 25px;
}

.new-comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

#new-comment-input {
        background-color: #f5f5f5;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-top: -4px;
    outline: none;
    margin-left: 5px;
    box-shadow: 0 0 5px #f5f5f5;
    cursor: pointer;

}

.comment-count {
    margin-top: 17px;
    margin-left: 3px;
}

#comment-cancel-button {
    float: right;
    padding: 9px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    background-color: inherit;
    border: none;
    margin-top: 2px;
}

#comment-cancel-button:active {
    background-color: lightgray;
}

#comment-submit-button:active {
    background-color: #4086e3;

}

.comment-options {
    float: right;
    font-size: 18px;
    margin-top: 15px;
    color: #909090;
    cursor: pointer;
    margin-right: 50px;
}

.comment-options-off {
display: none;
}

.comment-options:hover{
    color: #5f5f5f
}


.comment-options-type {
    display: flex;
    height: 100%;
    width: 100%;
}

.options-dropdown{
    position: absolute;
    /* width: 111px; */
    text-align: center;
    /* height: 58px; */
    /* display: flex; */
    margin-left: 55%;
    margin-top: 2.5%;
    color: #606060;
    background-color: white;
    box-shadow: 0px 1px 3px -1px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

.comment-options-type {
    padding-top: 19px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 19px;
    box-shadow: 0.5px 0.5px 0.5px 1px #909090;
    border-radius: 5px;
    background-color: #e6dede;
    border: -2.5px solid gray;
}
.comment-options-type:hover {
    background-color: #c4c1c1;

}
.comment-options-type:active{
    background-color: rgb(164, 161, 161);
}

.options-dropdown-off {
    display: none;
}

#comment-submit-button {
    float: right;
    padding: 9px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: white;
    background-color: #1a73e8;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.comment-buttons {
    border-top: 2px solid black;
    width: 60%;
    float: right;
    padding-top: 3px;
    position: absolute;
    margin-top: -11px;
    margin-left: 53px;
    padding-right: -10px;
    animation: fadeIn  .5s;
}

.comment-buttons-off {
    display: none;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
