.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 25px;
    // margin: 50px;
}

.input-name {
    text-align: center;
}

#exit-form {
    font-size: 10px;
}
