.error-list {
    display: flex;
    align-self: flex-start;
    color: #d93025;
    font-size: 12px;
    font-weight: thin;
    margin-left: 4px;
    margin-top: 7px;
    margin-bottom: -10px;
    position: absolute;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    height: 470px;
    background-color: white;
    padding: 25px;
}

#form-type {
    font-size: 22px;
}

.form-title {
    display: flex;
    font-weight: 500;
    flex-direction: row;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#T, #G {
   color: #4285F4;
}

#U1, #E {
   color: #EA4335;
}

#U2 {
    color: #FBBC05;
}

#L {
   color: #34A853;
}


input[type=text], input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  width: 400px;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
 
input[type=text]:focus, input[type=password]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  width: 400px;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  border: 2px solid #1a73e8;
  border-radius: 3px;
}

.input-name {
    text-align: center;
}
#demo-text {
   display: flex;
    /* align-self: flex-start; */
    /* margin-left: 50px; */
    font-size: 13px;
    /* border-radius: 3px; */
    width: 100%;
    height: 45px;
    /* padding: 15px; */
    box-sizing: border-box;
    /* margin-top: 18px; */
    color: #5F6368;
    font-weight: 100;
    justify-content: space-around;
    align-items: end;
}
#demo-button {
    display: flex;
    /* align-self: flex-start; */
    /* margin-left: 50px; */
    font-size: 13px;
    border-radius: 3px;
    width: 77%;
    height: 45px;
    /* padding: 15px; */
    box-sizing: border-box;
    cursor: pointer;
    /* margin-top: 18px; */
    color: #1a73e8;
    font-weight: bolder;
    color: white;
    justify-content: space-around;
    align-items: center;
    background-color: #1a73e8;
    margin-bottom: 4px;
}

#demo-button:hover {
    background-color: #3882e3;
}

.action-buttons {
    display: flex;
    font-size: 15px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 215px;
    height: 246px;
    background-color: white;
    justify-content: flex-start;
    border: 1px solid lightgray;
}

#user-icon, #logout-icon, #dark-mode-icon {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #909090;
}

#user-icon:hover, #logout-icon:hover, #dark-mode-icon:hover {
    background-color: lightgrey;
}

#logout-icon {
    border-bottom: 1px solid lightgray;
    margin-bottom: 13px;
    width: 100%;
    padding-bottom: 14px;
}

#user-show-text {
    font-weight: normal;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 4px;
    color: #030303;
    width: 100%;
}

#dark-mode-text {
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 4px;
    color: #030303;
    width: 100%;
}

#logout-text {
    font-weight: normal;
    font-size: 14px;
    color: #030303;
    margin-left: 2px;
    margin-top: 4px;
    width: 100%;
}

#back-button {
  display: flex;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 3px;
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  color: #909090;
}

#back-button:hover {
    color: #1a73e8;
}

//MAKE FONT SMALLER FOR ICON AND LOUGOUT BUTTON TEXTS

#submit-button {
    display: flex;
    align-self: flex-end;
    margin-left: 80px;
    font-size: 15px;
    border-radius: 3px;
    width: 100px;
    height: 45px;
    padding-left: 22px;
    box-sizing: border-box;
    margin-top: 15px;
    color: white;
    background-color: #1a73e8;
    border-radius: 3px;
    cursor: pointer;
    justify-content: space-between;
}

#submit-button:hover {
    background: #3882e3;
}

#signup-form-button {
  display: flex;
    align-self: flex-start;
    margin-right: 100px;
    font-size: 15px;
    border-radius: 3px;
    width: 150px;
    height: 45px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 18px;
    color: #1a73e8;
}

#create-account-form-button {
  display: flex;
    align-self: flex-start;
    margin-right: 100px;
    font-size: 15px;
    border-radius: 3px;
    width: 150px;
    height: 45px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 18px;
    color: #1a73e8;
}



