.video-playlist-container {
    height: 800px;
    width: 29%;
    margin-left: 5px;
    float: right;
        height: 1100px;

}

.small-thumb { 
    width: 165px;
    height: 95px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    object-fit: cover;
}

.next-text {
    margin-left: 8px;
    display: block;
    margin-bottom: 12px;
}

.preview-info-container {
    margin-left: 59px;
    margin-top: 38px;
    color: #5f5f5f;
    font-size: 14px;
    padding-bottom: 30px;
    line-height: normal;
}

.preview-title {
    cursor: pointer;
    font-size: 14px;
    margin-top: 4px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    line-height: normal;
    font-weight: 900;
    position: absolute;
    //
    margin-top: -99px;
    margin-left: 185px;
}

.preview-creator {
    display: inline-table;
    font-size: 12px;
    font-weight: bolder;
    padding-top: 44px;
    position: absolute;
    color: #5e5e5e;
}


.preview-views{
    display: inline-table;
    font-size: 12px;
    color: #5e5e5e;
    position: absolute;
    margin-top: 61px;
}

