.show-container {
    padding: 25px;
    background-color: whitesmoke;
    width: -webkit-fill-available;
}

.video-content {
    width: 70%;
    object-fit: fill;
    float: left;
}

.info-container {
    width: 68%;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    display: flow-root;
}

.large-title {
    font-size: 16px;
    font-weight: bolder;
}

.expanded-video-info {
    margin-top: 11px;
    color: #5f5f5f;
    font-size: 14px;
    line-height: normal;
}

.like-button {
    color: #8f908f;
    float: right;
    margin-bottom: -16px;
    margin-right: 55px;
    font-size: 18px;
    padding-top: 20px;
    cursor: pointer;
}

.dislike-button {
color: #8f908f;
    float: right;
    margin-bottom: -16px;
    margin-right: 52px;
    font-size: 18px;
    padding-top: 23px;
    cursor: pointer;
}

.share-button {
color: #8f908f;
    float: right;
    margin-bottom: -16px;
    font-size: 18px;
    padding-top: 23px;
    cursor: pointer;
}

.share-text {
    font-size: 14px;
        font-size: 14px;
    float: right;
    margin-top: 1px;
    padding-left: 2px;
}


.dislike-button:hover, .like-button:hover, .share-button:hover {
    color: #686868;
}
.dislike-button:active, .like-button:active, .share-button:hover {
    color: #4f4f4f;
}


.user-button-video-show {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: lightseagreen;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    margin-right: 15px;
    text-transform: capitalize;
}

.channel-info {
    width: 68%;
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    height: auto;
}

.video-description {
    font-size: 14px;
    margin-left: 63px;
    line-height: 1.5;
}

.subscribe_button{
    float: right;
    padding: 9px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: #5f5f5f;
    background-color: #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.unsubscribed_button{
    float: right;
    padding: 9px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: white;
    background-color: #d6261bed;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.unsubscribed_button:active{
    background-color: #ea4335;
}

.comments-text {
    display: inline-block;
    margin-left: 7px;
    font-size: 15px;
}

.expand-button {
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 1px;
    margin-top: 15px;
    margin-left: 60px;
    font-weight: 900;
    color: #5e5e5e;
    cursor: pointer;
}

.sort-icon {
    display: inline-block;
    margin-left: 19px;
    font-size: 15px;
    color: #5f5f5f;
    font-weight: 900;
    cursor: pointer;
    padding: 10px;
}

.sort-icon:active {
    background-color: #c1c0c0;
}

.video-creator {
    display: inline-flex;
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 1px;
}

.sub-count {
    color: #5f5f5f;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 3px;
    line-height: inherit;
}


