// .user-button {
//     display: flex;
//     background:lightseagreen;
//     width: 35px;
//     height: 35px;
//     border-radius: 50%;
//     color: white;
//     font-weight: bold;
//     font-size: 25px;
//     margin-right: 15px;
//     margin-top: -5px;
//     justify-content: center;
// }
.user-button {
    float: right;
    background:lightseagreen;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -7px;
    //font
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
}

.login-button{
    float: right;
    background:white;
    width: 100px;
    height: 35px;
    margin-right: 25px;
    margin-top: -7px;
    border-radius: 3px;
    border: 1px solid #1a73e8;;
    //old color # color: #3863bf;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1a73e8;
    cursor: pointer;
}
.fa-user-circle:before {
    content: "\f2bd";
    font-size: 20px;
}
.fa-bell, .fa-video {
    content: "\f0f3";
    margin-right: 15px;
    color: #606060;
    font-size: 20px;
}

#link {
    color: #3863bf;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1a73e8;
  cursor: pointer;
}

