.main-sidebar {
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: white;
    // dark mode
    // background-color: #202020;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding-top: 27px;
    margin-top: 55px;
    color: #606060;
}

.fa-home, .fa-linkedin, .fa-github  {
    content: "\f0f3";
    padding-bottom: 50px;
    color: #606060;
    font-size: 20px;
}

.fa-home:hover {
    color: #FA0000;
}

.fa-home:active {
    color: #d93025;
}

.fa-linkedin:hover {
    color: #0934abf7;
}

.fa-linkedin:active {
    color: #04247b;
}


.fa-github:hover {
    color: purple;
}

.fa-github:active {
    color: rgb(91, 7, 91);
}